
body{
    padding: 0;
    margin: 0;
        background-color: #f8f9f9;
    
}

nav .col2  a{
    margin-right: 50px;
    text-decoration: none;
    font-size: 20px;
  
    padding: 9px;
    
}
nav .col2  a:hover{
    background-color: #1f618d;
    border-radius: 5px;
    color: white;
}

nav .col2{
    position: relative;
    left: 500px;
    padding-top: 30px;
    padding-bottom: 20px;
  
    
}
nav{
  box-shadow: 3px 3px 8px rgb(194, 192, 192);
    width: 100%;
   
    
}
.div2{
    text-align: center;
    padding: 20px;
}

.div3{
    text-align: center;
    color: rgb(9, 71, 112);
    background-color: #d7bde2;
    padding: 50px;
}
.div5{
    display: flex;
}
.div5 .col5{
    background-color: #d7bde2;
    width: 430px;
    padding: 20px;
    margin: 10px;
    border: 3px solid rgb(148, 147, 147) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col5 img{
    width: 100%;
    margin-bottom: 30px;
}
.div5 input{
    text-align: center;
}
.div5 .col5 h3{
    text-align: center;
}
.div5 .col5 input{

    background-color: rgb(139, 42, 139);
    color: white;
    font-weight: 600;
    padding: 10px;
    border: none;
    cursor: pointer;
}



