body{
    padding: 0;
    margin: 0;
}

nav .col2  a{
    margin-right: 50px;
    text-decoration: none;
    font-size: 20px;
  

    padding: 9px;
    
}
nav .col2  a:hover{
    background-color: #1f618d;
    border-radius: 5px;
    color: white;
}

nav .col2{
    position: relative;
    left: 500px;
    padding-top: 30px;
    padding-bottom: 20px;
  
    
}
nav{
  box-shadow: 3px 3px 8px rgb(194, 192, 192);
    width: 100%;
   
    
}

.col3{
    width: 500px;
}